
.page-discography {
  padding-top: 100px;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.discography-heading {
  margin-bottom: 48px;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

.album {
  margin-bottom: 25px;

  @media (max-width: $mobile) {
    max-width: 138px;
  }

  &-cover {
    width: 250px;
    height: 250px;
    margin-bottom: 18px;

    @media (max-width: $mobile) {
      width: 137px;
      height: 137px;
    }
  }

  &-name {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    color: $white;
  }
}